<% content_for :title do %>
  Groepen
<% end %>

<div class="bg-white shadow overflow-hidden sm:rounded-md">
  <ul role="list" class="divide-y divide-gray-200">
    <% @usergroups.each do |group| %>
      <%= render 'usergroups/group', group: group %>
    <% end %>
  </ul>
</div>

<% if current_user.admin? %>
  <div class="relative md:my-4 -mx-5 sm:-mx-6 md:-mx-6 ">
    <div class="absolute inset-0 flex items-center" aria-hidden="true">
      <div class="w-full border-t border-gray-300"></div>
    </div>
    <div class="relative flex justify-center">
      <span class="px-2 bg-white text-md text-gray-600">
        Nieuwe groep
      </span>
    </div>
  </div>

  <%= render 'usergroups/form' %>
<% end %>
