<div class="mt-8">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="mt-2 grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">
      <%= render 'shared/user_info' %>
      <%= render 'shared/next_event' %>
      <%= render 'shared/quote_form' %>
    </div>
  </div>

  <div class="relative md:my-4">
    <div class="absolute inset-0 flex items-center" aria-hidden="true">
      <div class="w-full border-t border-gray-300"></div>
    </div>
    <div class="relative flex justify-center">
      <span class="px-2 bg-white text-sm text-gray-500">
        Quotes
      </span>
    </div>
  </div>

<div>
  <ul role="list" class="divide-y divide-gray-200">
      <%= render @quotes %>
    </ul>
  </div>
</div>
