<% content_for :title do %>
  Privacy Statement
<% end %>
<div class="row">
  <div class="container">
    <p>
      Hamers zonder Sikkel is verantwoordelijk voor de verwerking van persoonsgegevens zoals weergegeven in deze
      privacyverklaring.
    </p>
    <p>
      Contactgegevens: https://www.zondersikkel.nl - dev@zondersikkel.nl
    </p>
    <p>
    <h4>Persoonsgegevens die wij verwerken</h4>
    <p>
      Hamers zonder Sikkel verwerkt je persoonsgegevens doordat je gebruik maakt van onze diensten en/of omdat je deze
      gegevens zelf aan ons verstrekt.
    </p>
    <p>
      Hieronder vind je een overzicht van de persoonsgegevens die wij verwerken:
    </p>
    <ul>
      <li>Voor- en achternaam</li>
      <li>E-mailadres</li>
      <li>IP-adres</li>
      <li>Internetbrowser en apparaat type</li>
    </ul>
    <h4>Bijzondere en/of gevoelige persoonsgegevens die wij verwerken</h4>
    <p>
      Onze website en/of dienst heeft niet de intentie gegevens te verzamelen over websitebezoekers die jonger zijn dan
      16 jaar. Tenzij ze toestemming hebben van ouders of voogd. We kunnen echter niet controleren of een bezoeker ouder
      dan 16 is. Wij raden ouders dan ook aan betrokken te zijn bij de online activiteiten van hun kinderen, om zo te
      voorkomen dat er gegevens over kinderen verzameld worden zonder ouderlijke toestemming. Als je er van overtuigd
      bent dat wij zonder die toestemming persoonlijke gegevens hebben verzameld over een minderjarige, neem dan contact
      met ons op via dev@zondersikkel.nl, dan verwijderen wij deze informatie.
    </p>
    <h4>Met welk doel en op basis van welke grondslag wij persoonsgegevens verwerken</h4>
    Hamers zonder Sikkel verwerkt jouw persoonsgegevens voor de volgende doelen:
    <p>
    <ul>
      <li>Je de mogelijkheid te bieden een account aan te maken</li>
    </ul>
    </p>
    <h4>Geautomatiseerde besluitvorming</h4>
    <p>
      Hamers zonder Sikkel neemt niet op basis van geautomatiseerde verwerkingen besluiten over zaken die (aanzienlijke)
      gevolgen kunnen hebben voor personen. Het gaat hier om besluiten die worden genomen door computerprogramma's of
      -systemen, zonder dat daar een mens (bijvoorbeeld een medewerker van Hamers zonder Sikkel) tussen zit.
    </p>
    <h4>Hoe lang we persoonsgegevens bewaren</h4>
    <p>
      Hamers zonder Sikkel bewaart je persoonsgegevens niet langer dan strikt nodig is om de doelen te realiseren
      waarvoor je gegevens worden verzameld.
    </p>
    <h4>Delen van persoonsgegevens met derden</h4>
    <p>
      Hamers zonder Sikkel verstrekt uitsluitend aan derden en alleen als dit nodig is voor de uitvoering van onze
      overeenkomst met jou of om te voldoen aan een wettelijke verplichting.
    </p>
    <h4>Cookies, of vergelijkbare technieken, die wij gebruiken</h4>
    <p>
      Hamers zonder Sikkel gebruikt alleen technische en functionele cookies. En analytische cookies die geen inbreuk
      maken op je privacy. Een cookie is een klein tekstbestand dat bij het eerste bezoek aan deze website wordt
      opgeslagen op jouw computer, tablet of smartphone. De cookies die wij gebruiken zijn noodzakelijk voor de
      technische werking van de website en jouw gebruiksgemak. Ze zorgen ervoor dat de website naar behoren werkt en
      onthouden bijvoorbeeld jouw voorkeursinstellingen. Ook kunnen wij hiermee onze website optimaliseren. Je kunt je
      afmelden voor cookies door je internetbrowser zo in te stellen dat deze geen cookies meer opslaat. Daarnaast kun
      je ook alle informatie die eerder is opgeslagen via de instellingen van je browser verwijderen.
    </p>
    <h4>Gegevens inzien, aanpassen of verwijderen</h4>
    <p>
      Je hebt het recht om je persoonsgegevens in te zien, te corrigeren of te verwijderen. Dit kun je zelf doen via de
      persoonlijke instellingen van jouw account. Daarnaast heb je het recht om je eventuele toestemming voor de
      gegevensverwerking in te trekken of bezwaar te maken tegen de verwerking van jouw persoonsgegevens door ons en heb
      je het recht op gegevensoverdraagbaarheid. Dat betekent dat je bij ons een verzoek kan indienen om de
      persoonsgegevens die wij van jou beschikken in een computerbestand naar jou of een ander, door jou genoemde
      organisatie, te sturen.
    </p>
    <p>
      Wil je gebruik maken van je recht op bezwaar en/of recht op gegevensoverdraagbaarheid of heb je andere
      vragen/opmerkingen over de gegevensverwerking, stuur dan een gespecificeerd verzoek naar dev@zondersikkel.nl.
    </p>
    <p>
      Om er zeker van te zijn dat het verzoek tot inzage door jou is gedaan, vragen wij jou een kopie van je
      identiteitsbewijs bij het verzoek mee te sturen. Maak in deze kopie je pasfoto, MRZ (machine readable zone, de
      strook met nummers onderaan het paspoort), paspoortnummer en Burgerservicenummer (BSN) zwart. Dit ter bescherming
      van je privacy. Hamers zonder Sikkel zal zo snel mogelijk, maar in ieder geval binnen vier weken, op jouw verzoek
      reageren.
    </p>
    <h4>Hoe wij persoonsgegevens beveiligen</h4>
    <p>
      Hamers zonder Sikkel neemt de bescherming van jouw gegevens serieus en neemt passende maatregelen om misbruik,
      verlies, onbevoegde toegang, ongewenste openbaarmaking en ongeoorloofde wijziging tegen te gaan. Als jij het idee
      hebt dat jouw gegevens toch niet goed beveiligd zijn of er aanwijzingen zijn van misbruik, neem dan contact op via
      dev@zondersikkel.nl
    </p>
  </div>
</div>
