<div class="row">
  <div class="col-md-12 text-center">
    <h1>Statistieken</h1>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-6 text-center">
    <h2> Aantal reviews </h2>
    <%= line_chart @cumulativeReviewData %>
  </div>
  <div class="col-md-6 text-center">
    <h3> Aantal biertjes </h3>
    <%= line_chart @cumulativeBeerData %>
  </div>
</div>
<div class="row">
  <div class="col-md-6 text-center">
    <h2> Aantal quotes </h2>
    <%= line_chart @cumulativeQuoteData %>
  </div>
  <div class="col-md-6 text-center">
    <h2> Aantal activiteiten </h2>
    <%= line_chart @cumulativeEventData %>
  </div>
</div>
