<li>
  <span class="content"><%= quote.text %></span>
   <span class="timestamp">
   <%= time_ago_in_words(quote.created_at) %> geleden.
   </span>
  <% if current_user.admin? %>
      <%= link_to quote, method: :delete,
                  data: {confirm: 'You sure?'},
                  title: quote.text,
                  class: 'btn btn-default btn-sm' do %>
          <i class="fa fa-trash"></i>
      <% end %>
  <% end %>
</li>
