<% content_for :title do %>
  Vergaderingen
<% end %>

<% content_for :options do %>
  <%= link_to "Nieuwe vergadering", new_meeting_path, class: button_classes %>
<% end %>

<% if @meetings.any? %>
  <%= render 'meetings/list', meetings: @meetings %>
<% else %>
  Er zijn nog geen vergaderingen.
<% end %>

<% if @pagy.series.count > 1 %>
  <div class="pt-12">
    <%= render 'shared/pagination/default' %>
  </div>
<% end %>
