<% content_for :title do %>
  Blog
<% end %>

<% @items.each do |item| %>
  <div class="bs-calltoaction bs-calltoaction-default">
    <div class="row">
      <%= link_to item do %>
        <div class="col-md-12 cta-contents">
          <h1 class="cta-title"><%= item.title %></h1>
          <div class="cta-desc">
            <p><%= truncate(strip_tags(item.body.to_s), length: 200) %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<% if current_user&.lid? || current_user&.alid? %>
  <% unless @items.any? %>
    <h4> Helaas, er zijn (nog) geen blogposts. </h4>
  <% end %>
  <%= link_to 'Schrijf een blogpost!', new_blogitem_path, class: 'btn btn-block btn-primary' %>
<% else
     unless @items.any? %>
    <h4> Helaas, er zijn (nog) geen publieke blogposts. </h4>
  <% end %>
<% end %>
