config/database.yml

# Ignore bundler config.
/.bundle
/vendor/bundle

# Ignore the default SQLite database.
db/*.sqlite3
db/*.sqlite3-journal

# Ignore schema cache
db/schema_cache.yml

# Ignore uploads
storage

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
*~
*.swp

.DS_Store

.idea
atlassian-ide-plugin.xml
*.iml

# Created by https://www.gitignore.io/api/rails

### Rails ###
*.rbc
capybara-*.html
.rspec
/log
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html

config/initializers/secret_token.rb
config/secrets.yml

public/assets

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore pow environment settings
.powenv

# Ignore Byebug command history file.
.byebug_history

tags

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
