<% content_for :title do %>
  Uitvoering van <%= @recipe.name %> aanpassen
<% end %>

<div class="divide-y divide-gray-200 -my-6 md:grid md:grid-cols-12 md:divide-y-0 md:divide-x">
  <aside class="ml-6 my-6 md:col-span-4 md:pr-6">
    <%= @recipe.description %>
  </aside>

  <div class='md:col-span-8 md:pl-6 my-6'>
    <%= render 'form' %>
  </div>
</div>
