<% content_for :title do %>
  <%= @recipe.name %>
<% end %>
<div class="row">
  <div class="col-md-9">
    <%= @brew.description %>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        Uitvoeringen:
        <ul>
          <% @recipe.brews.each do |brew| %>
            <li><%= link_to brew.created_at.strftime("%d-%m-%Y"), brew_path(@recipe, brew) %><br></li>
          <% end %>
        </ul>

        <hr>

        <div class="btn-group">
          <%= link_to 'Aanpassen', edit_brew_path(@brew), class: 'btn btn-default' %>
        </div>
      </div>
    </div>
  </div>
</div>


