<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <p>Hallo <%= @user.name %>,</p>
    TODO
    <p>Mocht je denken dat er iets niet klopt, neem dan contact op met de penningmeester:
      <a href="mailto:penningmeester@zondersikkel.nl" target="_blank">penningmeester@zondersikkel.nl</a>
    </p>
  </body>
</html>
