/* line 1, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/reset.scss */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  letter-spacing: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
}

/* line 13, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/reset.scss */
article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 15, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/reset.scss */
img, object, embed {
  max-width: 100%;
}

/* line 16, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/reset.scss */
ul {
  list-style: none;
}

/* line 17, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 18, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/reset.scss */
b, strong {
  font-weight: bold;
}

/* line 19, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 21, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 23, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/reset.scss */
del {
  text-decoration: line-through;
}

/* line 25, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
/* line 28, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 29, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/reset.scss */
th {
  font-weight: bold;
  vertical-align: bottom;
}

/* line 30, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/reset.scss */
td {
  font-weight: normal;
  vertical-align: top;
}

/* line 32, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 34, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/reset.scss */
input, select {
  vertical-align: middle;
}

/* line 36, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/reset.scss */
pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

/* line 43, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/reset.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 44, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/reset.scss */
input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline;
}

/* line 45, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/reset.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 47, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/reset.scss */
select, input, textarea {
  font: 99% sans-serif;
}

/* line 49, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/reset.scss */
table {
  font-size: inherit;
  font: 100%;
}

/* Accessible focus treatment
	people.opera.com/patrickl/experiments/keyboard/test */
/* line 53, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/reset.scss */
a:hover, a:active {
  outline: none;
}

/* line 55, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/reset.scss */
small {
  font-size: 85%;
}

/* line 57, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/reset.scss */
strong, th {
  font-weight: bold;
}

/* line 59, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/reset.scss */
td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
/* line 63, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/* line 64, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/reset.scss */
sup {
  top: -0.5em;
}

/* line 65, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/reset.scss */
sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
/* line 68, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/reset.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
/* line 71, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/reset.scss */
.clickable,
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
/* line 78, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/reset.scss */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
/* line 81, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/reset.scss */
button {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
/* line 84, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/reset.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover */
/* line 87, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/reset.scss */
.ie6 html {
  filter: expression(document.execCommand("BackgroundImageCache", false, true));
}

/* let's clear some floats */
/* line 90, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/reset.scss */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

/* line 91, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/reset.scss */
.clearfix:after {
  clear: both;
}

/* line 92, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/reset.scss */
.clearfix {
  zoom: 1;
}

/* line 94, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/reset.scss */
select, input, textarea, a {
  outline: none;
}

/* line 97, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/reset.scss */
input, textarea {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
/* line 4, /home/rob/.rvm/gems/ruby-2.2.1/gems/nifty-dialog-1.1.1/vendor/assets/stylesheets/nifty/dialog.scss */
div.niftyOverlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 50;
  overflow-y: scroll;
}

/* line 19, /home/rob/.rvm/gems/ruby-2.2.1/gems/nifty-dialog-1.1.1/vendor/assets/stylesheets/nifty/dialog.scss */
div.niftyOverlay.invisible {
  background: transparent;
}

/* line 23, /home/rob/.rvm/gems/ruby-2.2.1/gems/nifty-dialog-1.1.1/vendor/assets/stylesheets/nifty/dialog.scss */
body.niftyDialog-open {
  overflow-y: hidden;
}

/* line 30, /home/rob/.rvm/gems/ruby-2.2.1/gems/nifty-dialog-1.1.1/vendor/assets/stylesheets/nifty/dialog.scss */
div.niftyDialog {
  display: none;
  position: relative;
  width: 500px;
  margin: 100px auto;
  margin-bottom: 100px !important;
  background: #fff;
  box-shadow: 0 0 70px black;
}
/* line 38, /home/rob/.rvm/gems/ruby-2.2.1/gems/nifty-dialog-1.1.1/vendor/assets/stylesheets/nifty/dialog.scss */
div.niftyDialog h2 {
  background: #333333;
  color: #fff;
  padding: 10px 15px;
  font-weight: 600;
  background-repeat: no-repeat;
  background-position: 95% 17px;
  background-size: 16px;
  font-size: 0.9em;
}
/*





 */
/* line 11, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
input, textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 13, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

/* line 21, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
header {
  background: #354050;
  height: 45px;
  position: fixed;
  top: 0;
  width: 100%;
}
/* line 27, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
header h1 {
  margin: 10px 0 0 15px;
  float: left;
}
/* line 30, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
header h1 a {
  display: block;
  background: url(/assets/documentation/logo-white.svg) no-repeat;
  background-size: 20px;
  width: 20px;
  height: 20px;
  text-indent: -40000px;
}
/* line 39, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
header p.back {
  float: right;
  margin: 14px 15px 0 0;
}
/* line 42, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
header p.back a {
  color: #97a4b7;
  text-decoration: none;
}
/* line 43, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
header p.back a:hover {
  color: #fff;
}

/* line 50, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
.searchForm {
  padding: 0 15px;
  margin-bottom: 15px;
}
/* line 53, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
.searchForm input {
  width: 100%;
  background: url(/assets/documentation/search.svg) white no-repeat 5px 6px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-size: 14px;
  border: 2px solid #bbc5da;
  border-radius: 4px;
  padding: 6px 6px 6px 25px;
}

/* line 67, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
nav.pages {
  position: fixed;
  top: 45px;
  bottom: 0;
  width: 249px;
  border-right: 1px solid #E2E7F1;
  background: #F5F7FB;
  font-size: 0.9em;
}
/* line 75, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
nav.pages div.inner {
  padding: 15px 0;
}
/* line 79, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
nav.pages div.inner ul li a {
  text-decoration: none;
  color: #333;
  padding: 5px 15px;
  display: block;
}
/* line 84, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
nav.pages div.inner ul li a:hover {
  background: #e2e7f1;
}
/* line 87, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
nav.pages div.inner ul li a.active {
  background: #35A4D4;
  color: #fff;
}
/* line 92, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
nav.pages div.inner ul li ul li a {
  padding-left: 35px;
}

/* line 101, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
section.content {
  position: fixed;
  top: 45px;
  left: 250px;
  bottom: 0;
  right: 0;
  background: #fff;
  overflow-y: scroll;
}

/* line 114, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
nav.breadcrumb {
  font-size: 0.85em;
  background: #E2E7F1;
  margin-bottom: 10px;
  padding: 10px 35px;
}
/* line 119, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
nav.breadcrumb ul {
  overflow: hidden;
}
/* line 121, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
nav.breadcrumb ul li {
  float: left;
  margin-right: 7px;
}
/* line 123, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
nav.breadcrumb ul li:after {
  content: "\21D2";
  padding-left: 7px;
  color: #abb6cd;
}
/* line 124, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
nav.breadcrumb ul li:last-child:after {
  color: #E2E7F1;
  padding-left: 0;
}
/* line 125, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
nav.breadcrumb ul li a {
  color: #8e9bb4;
}
/* line 126, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
nav.breadcrumb ul li a:hover {
  color: #748098;
}
/* line 127, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
nav.breadcrumb ul li:last-child a {
  text-decoration: none;
}
/* line 128, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
nav.breadcrumb ul li:last-child a:hover {
  color: #8e9bb4;
}

/* line 136, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
section.page {
  margin: 25px 35px 35px 35px;
}
/* line 138, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
section.page h1 {
  font-size: 2.2em;
  font-weight: 300;
  margin-bottom: 4px;
}
/* line 144, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
section.page p.updated {
  color: #999;
  font-size: 0.85em;
  margin-bottom: 10px;
}
/* line 150, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
section.page p.previewLink {
  float: right;
  margin-top: 4px;
}
/* line 155, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
section.page p.adminButtons {
  border-top: 1px dashed #ddd;
  padding: 15px 0;
  margin-top: 30px;
  text-align: right;
}
/* line 162, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
section.page form.reordering {
  padding: 0 0 0 0;
}
/* line 165, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
section.page form.reordering ul {
  padding: 25px 0 0 0;
}
/* line 168, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
section.page form.reordering ul li {
  background: #F5F7FB;
  font-size: 1.1em;
  margin-bottom: 7px;
  padding: 10px;
  cursor: pointer;
  border: 1px dashed #748098;
  background: url(/assets/documentation/page.svg) #F5F7FB no-repeat 16px 10px;
  background-size: 14px;
  padding-left: 40px;
}

/* line 185, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
a.button, input.button {
  display: inline-block;
  border: 2px solid #c09cd1;
  text-decoration: none;
  background: #fff;
  color: #9357B0;
  font-weight: 500;
  padding: 3px 10px;
  font-size: 12px;
  background: #fff;
  border-radius: 5px;
  margin-left: 5px;
  appearance: none;
  vertical-align: middle;
}
/* line 199, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
a.button.delete, input.button.delete {
  color: #F6744F;
  border-color: #fbc1b0;
}
/* line 203, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
a.button.new, input.button.new {
  color: #65BA65;
  border-color: #abdaab;
}
/* line 207, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
a.button.preview, input.button.preview {
  color: #999;
  border-color: #ccc;
}

/* line 216, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
#flash-notice {
  background: #65BA65;
  padding: 15px 35px;
  color: #fff;
  font-size: 1.2em;
  font-weight: 600;
}

/* line 227, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
#flash-alert {
  background: #F6744F;
  padding: 15px 35px;
  color: #fff;
  font-size: 1.2em;
  font-weight: 600;
}

/* line 238, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
section.welcome {
  text-align: center;
  margin: 60px 0;
  background: url(/assets/documentation/logo-black.svg) no-repeat top center;
  background-size: 100px;
  padding-top: 150px;
}
/* line 244, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
section.welcome h1 {
  font-size: 3.6em;
  font-weight: 300;
}
/* line 245, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
section.welcome h2 {
  color: #aaa;
  margin-top: 2px;
  font-size: 1.5em;
  font-weight: 300;
}
/* line 246, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
section.welcome .override {
  background: #fdffe0;
  width: 80%;
  margin: 50px auto;
  font-size: 1.1em;
  line-height: 1.7;
  padding: 25px;
  border: 1px solid #ced0ad;
  color: #727457;
}
/* line 255, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
section.welcome .override code {
  font-weight: bold;
}

/* line 262, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
html.errorPage {
  background: #f3f5f7;
}

/* line 266, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
section.errorMessage {
  width: 450px;
  margin: 100px auto;
  box-shadow: 0 0 35px #d4dae3;
  background: white;
  text-align: center;
}
/* line 272, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
section.errorMessage h2 {
  background: #354050;
  color: #fff;
  padding: 15px;
  font-size: 1.5em;
  font-weight: 300;
}
/* line 279, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
section.errorMessage p {
  padding: 25px 15px;
  line-height: 1.5;
  font-size: 0.9em;
  color: #788ba6;
}

/* line 290, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
ul.searchResults {
  margin: 25px 0;
}
/* line 292, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
ul.searchResults a {
  color: inherit;
  text-decoration: none;
}
/* line 293, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
ul.searchResults a:hover {
  text-decoration: underline;
}
/* line 294, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
ul.searchResults li {
  margin-bottom: 25px;
}
/* line 296, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
ul.searchResults li h4 {
  font-weight: 600;
  color: #35A4D4;
}
/* line 297, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
ul.searchResults li p.in {
  font-size: 0.85em;
  color: #92BBC9;
  margin-top: 4px;
}
/* line 298, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
ul.searchResults li p.excerpt {
  margin-top: 5px;
  line-height: 1.5;
}
/* line 299, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
ul.searchResults li p.excerpt mark {
  background: #fffdca;
  border-bottom: 1px solid #d9d33b;
}

/* line 306, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
p.searchSummary {
  color: #999;
  margin-top: 5px;
}

/* line 313, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/application.scss */
p.noSearchResults {
  text-align: center;
  margin: 100px 0;
  color: #999;
  font-style: italic;
  font-size: 1.5em;
  font-weight: 300;
  background: url(/assets/documentation/unhappy.svg) no-repeat center top;
  background-size: 170px;
  padding-top: 200px;
}
/* line 2, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown a {
  color: #35A4D4;
  text-decoration: none;
  border-bottom: 1px solid #35A4D4;
  font-weight: 600;
}
/* line 4, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown h1, div.documentationMarkdown h2 {
  font-size: 1.6em;
  font-weight: 300;
  margin: 20px 0;
  border-bottom: 1px solid #aecdda;
  padding-bottom: 2px;
  color: #35A4D4;
}
/* line 5, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown h3 {
  font-size: 1.3em;
  font-weight: 500;
  margin: 20px 0;
}
/* line 6, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown h4 {
  font-size: 1.1em;
  font-weight: 500;
  margin: 20px 0;
}
/* line 7, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown h5 {
  font-size: 1.1em;
  font-weight: 500;
  margin: 20px 0;
}
/* line 9, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown p {
  margin: 20px 0;
  line-height: 1.8;
}
/* line 11, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown ul, div.documentationMarkdown ol {
  line-height: 1.8em;
  margin: 20px 0;
  margin-left: 40px;
}
/* line 12, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown ul li {
  background: url(/assets/documentation/pin.svg) no-repeat 0 5px;
  background-size: 13px;
  padding-left: 25px;
}
/* line 13, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown ol {
  margin-left: 65px;
}
/* line 14, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown ol li {
  margin-bottom: 8px;
  padding-left: 15px;
}
/* line 15, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown ol li:last-child {
  margin-bottom: 0;
}
/* line 16, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown ul.pages {
  overflow: hidden;
}
/* line 18, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown ul.pages li {
  background: url(/assets/documentation/page.svg) no-repeat 0 5px;
  background-size: 13px;
  padding-left: 25px;
  width: 45%;
  float: left;
  margin-bottom: 5px;
}
/* line 22, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown h2:hover a.anchor, div.documentationMarkdown h3:hover a.anchor, div.documentationMarkdown h4:hover a.anchor, div.documentationMarkdown h5:hover a.anchor {
  display: inline-block;
}
/* line 25, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown a.anchor {
  display: none;
  float: right;
  border: 0;
  color: #999;
  width: 16px;
  height: 16px;
  background: url(/assets/documentation/link.svg);
  opacity: 0.6;
  background-size: 16px;
  text-indent: -40000px;
}
/* line 27, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown p.recommendation, div.documentationMarkdown p.notice {
  background: url(/assets/documentation/recommendation.svg) #F5F7FB no-repeat 20px 16px;
  background-size: 20px;
  border: 1px solid #E4E7ED;
  padding: 15px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 55px;
}
/* line 37, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown p.warning {
  background: url(/assets/documentation/warning.svg) #fffbec no-repeat 20px 18px;
  background-size: 20px;
  border: 1px solid #edda8c;
  padding: 15px;
  color: #97894f;
  margin-left: 0;
  margin-right: 0;
  padding-left: 55px;
}
/* line 48, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown p.codeTitle {
  background: #f7f7f7;
  margin-bottom: 0;
  line-height: 1;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 15px 20px;
  font-size: 0.9em;
  font-weight: 500;
  color: #666;
  border: 1px solid #ddd;
  border-bottom: 0;
}
/* line 62, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown p.codeTitle + div.highlight pre {
  margin-top: 0 !important;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* line 68, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown pre {
  margin: 25px 0;
  line-height: 1.4;
  padding: 20px;
  border-radius: 6px;
  overflow-x: auto;
  word-wrap: normal;
  white-space: pre;
}
/* line 78, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown code {
  background: #F8F8F8;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0px 5px;
  margin: 0 2px;
  font-size: 0.85em;
  white-space: pre;
  word-wrap: none;
}
/* line 80, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .imgcontainer.center {
  display: block;
  margin: 0 35px;
  text-align: center;
}
/* line 84, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .imgcontainer.center img {
  max-width: 90%;
}
/* line 89, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown table {
  margin: 25px 0;
  min-width: 100%;
}
/* line 92, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown table td, div.documentationMarkdown table th {
  border: 1px solid #E4E7ED;
  padding: 10px;
}
/* line 93, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown table th {
  background: #F5F7FB;
  color: #8E9BB4;
  font-weight: 300;
  text-align: left;
}
/* line 97, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 15px;
  background: #1d1f21;
  color: #c5c8c6;
  /* Comment */
  /* Error */
  /* Keyword */
  /* Literal */
  /* Name */
  /* Operator */
  /* Punctuation */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Date */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Other */
  /* Name.Property */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */
}
/* line 101, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .hll {
  background-color: #373b41;
}
/* line 102, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .c {
  color: #969896;
}
/* line 103, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .err {
  color: #cc6666;
}
/* line 104, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .k {
  color: #b294bb;
}
/* line 105, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .l {
  color: #de935f;
}
/* line 106, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .n {
  color: #c5c8c6;
}
/* line 107, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .o {
  color: #8abeb7;
}
/* line 108, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .p {
  color: #c5c8c6;
}
/* line 109, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .cm {
  color: #969896;
}
/* line 110, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .cp {
  color: #969896;
}
/* line 111, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .c1 {
  color: #969896;
}
/* line 112, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .cs {
  color: #969896;
}
/* line 113, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .gd {
  color: #cc6666;
}
/* line 114, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .ge {
  font-style: italic;
}
/* line 115, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .gh {
  color: #c5c8c6;
  font-weight: bold;
}
/* line 116, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .gi {
  color: #b5bd68;
}
/* line 117, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .gp {
  color: #969896;
  font-weight: bold;
}
/* line 118, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .gs {
  font-weight: bold;
}
/* line 119, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .gu {
  color: #8abeb7;
  font-weight: bold;
}
/* line 120, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .kc {
  color: #b294bb;
}
/* line 121, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .kd {
  color: #b294bb;
}
/* line 122, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .kn {
  color: #8abeb7;
}
/* line 123, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .kp {
  color: #b294bb;
}
/* line 124, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .kr {
  color: #b294bb;
}
/* line 125, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .kt {
  color: #f0c674;
}
/* line 126, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .ld {
  color: #b5bd68;
}
/* line 127, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .m {
  color: #de935f;
}
/* line 128, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .s {
  color: #b5bd68;
}
/* line 129, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .na {
  color: #81a2be;
}
/* line 130, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .nb {
  color: #c5c8c6;
}
/* line 131, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .nc {
  color: #f0c674;
}
/* line 132, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .no {
  color: #cc6666;
}
/* line 133, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .nd {
  color: #8abeb7;
}
/* line 134, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .ni {
  color: #c5c8c6;
}
/* line 135, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .ne {
  color: #cc6666;
}
/* line 136, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .nf {
  color: #81a2be;
}
/* line 137, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .nl {
  color: #c5c8c6;
}
/* line 138, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .nn {
  color: #f0c674;
}
/* line 139, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .nx {
  color: #81a2be;
}
/* line 140, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .py {
  color: #c5c8c6;
}
/* line 141, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .nt {
  color: #8abeb7;
}
/* line 142, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .nv {
  color: #cc6666;
}
/* line 143, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .ow {
  color: #8abeb7;
}
/* line 144, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .w {
  color: #c5c8c6;
}
/* line 145, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .mf {
  color: #de935f;
}
/* line 146, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .mh {
  color: #de935f;
}
/* line 147, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .mi {
  color: #de935f;
}
/* line 148, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .mo {
  color: #de935f;
}
/* line 149, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .sb {
  color: #b5bd68;
}
/* line 150, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .sc {
  color: #c5c8c6;
}
/* line 151, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .sd {
  color: #969896;
}
/* line 152, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .s2 {
  color: #b5bd68;
}
/* line 153, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .se {
  color: #de935f;
}
/* line 154, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .sh {
  color: #b5bd68;
}
/* line 155, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .si {
  color: #de935f;
}
/* line 156, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .sx {
  color: #b5bd68;
}
/* line 157, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .sr {
  color: #b5bd68;
}
/* line 158, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .s1 {
  color: #b5bd68;
}
/* line 159, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .ss {
  color: #b5bd68;
}
/* line 160, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .bp {
  color: #c5c8c6;
}
/* line 161, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .vc {
  color: #cc6666;
}
/* line 162, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .vg {
  color: #cc6666;
}
/* line 163, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .vi {
  color: #cc6666;
}
/* line 164, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/markdown.scss */
div.documentationMarkdown .highlight pre .il {
  color: #de935f;
}
/* line 1, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/page_form.scss */
form.pageForm {
  padding: 15px 35px 25px 35px;
  margin-top: 10px;
}
/* line 4, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/page_form.scss */
form.pageForm input[type=text], form.pageForm textarea {
  width: 100%;
  border: 1px solid #c7cfde;
  padding: 6px;
  background: #F5F7FB;
}
/* line 11, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/page_form.scss */
form.pageForm p.title {
  margin-bottom: 15px;
}
/* line 13, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/page_form.scss */
form.pageForm p.title input {
  font-size: 1.3em;
  font-weight: normal;
  padding: 10px;
}
/* line 17, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/page_form.scss */
form.pageForm p.content textarea {
  width: 100%;
  min-height: 300px;
  font-size: 0.9em;
  line-height: 1.4;
  padding: 10px;
  font-family: 'Consolas', Monaco, 'Courier New', Courier, fixed;
  resize: none;
}
/* line 28, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/page_form.scss */
form.pageForm dl {
  margin: 15px 0;
}
/* line 30, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/page_form.scss */
form.pageForm dl dt {
  width: 120px;
  float: left;
  color: #999;
  padding-top: 6px;
}
/* line 31, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/page_form.scss */
form.pageForm dl dd {
  margin-left: 160px;
}
/* line 32, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/page_form.scss */
form.pageForm dl dd input {
  width: 100%;
  font-size: 1.1em;
}
/* line 33, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/page_form.scss */
form.pageForm dl dd.padded {
  padding-top: 6px;
}
/* line 36, /home/rob/.rvm/gems/ruby-2.2.1/gems/documentation-1.0.9/app/assets/stylesheets/documentation/page_form.scss */
form.pageForm p.submit {
  text-align: right;
}
