<% content_for :title do %>
    Motie indienen
<% end %>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= render 'form' %>
    <%= link_to 'Back', request.referer, :class => 'btn btn-default' %>
  </div>
</div>

