<% content_for :title do %>
  Ledenadministratie
<% end %>

<h4>Leden</h4>
<%= render "users/admin_table", users: @leden %>
<% unless @aspiranten.blank? %>
  <h4>Aspiranten</h4>
  <%= render "users/admin_table", users: @aspiranten %>
<% end %>
<h4>Oud-leden</h4>
<%= render "users/admin_table", users: @oudelullen %>
