<% content_for :title do %>
    Leden
<% end %>
<h4>Leden</h4>
<%= render "users/table", users: @leden, ratio: true %>
<% unless @aspiranten.blank? %>
<h4>Aspiranten</h4>
<%= render "users/table", users: @aspiranten, ratio: false %>
<% end %>
<% unless @oudelullen.blank? %>
<h4>Oud-leden</h4>
<%= render "users/table", users: @oudelullen, ratio: false %>
<% end %>
