<% content_for :title do %>
  Leden
<% end %>

<ul class="nav nav-pills nav-justified" style="margin-bottom: 16px;">
  <li class="presentation active"><a data-toggle="tab" href="#leden">Leden</a></li>
  <% if @aspiranten.present? %>
    <li class="presentation"><a data-toggle="tab" href="#aspiranten">Aspirant-leden</a></li>
  <% end %>
  <% if @oudelullen.present? %>
    <li class="presentation"><a data-toggle="tab" href="#oud-leden">Oud-leden</a></li>
  <% end %>
  <% if @extern.present? %>
    <li class="presentation"><a data-toggle="tab" href="#externe-accounts">Externe accounts</a></li>
  <% end %>
</ul>

<div class="tab-content">
  <div id="leden" class="tab-pane fade in active">
    <%= render "users/table", users: @leden, ratio: true %>
  </div>
  <% if @aspiranten.present? %>
    <div id="aspiranten" class="tab-pane fade">
      <%= render "users/table", users: @aspiranten, ratio: false %>
    </div>
  <% end %>
  <% if @oudelullen.present? %>
    <div id="oud-leden" class="tab-pane fade">
      <%= render "users/table", users: @oudelullen, ratio: false %>
    </div>
  <% end %>
  <% if @extern.present? %>
    <div id="externe-accounts" class="tab-pane fade">
      <%= render "users/table", users: @extern, ratio: false %>
    </div>
  <% end %>
</div>
