<%= link_to gravatar_for(@rQuote.user), @rQuote.user %>
<span class="user">
   <%= link_to @rQuote.user.name, @rQuote.user %>
</span>
<span class="content"><%= @rQuote.text %></span>
<span class="timestamp">
   <%= time_ago_in_words(I18n.l @rQuote.created_at) %> geleden.
</span>

