<% if !@rQuote.nil? %>
  <%= link_to gravatar_for(@random_quote.user), @random_quote.user, class: 'gravatar img img-responsive' %>
  <span class="user">
     <%= link_to @random_quote.user.name, @random_quote.user %>
  </span>
  <span class="content"><%= @random_quote.text %></span>
  <span class="timestamp">
     <%= time_ago_in_words(@random_quote.created_at) %> geleden.
  </span>
<% end %>
