<table class="events table table-hover">
  <thead>
  <tr>
    <th>Activiteit</th>
    <th>Datum</th>
    <th>Aanwezig</th>
  </tr>
  </thead>
  <tbody>
  <% events.each do |event| %>
    <tr>
      <td>
        <%= link_to event.title, event %>
        <% if event.today? %>
          <span class="label label-primary">Vandaag</span>
        <% end %>
      </td>
      <td><%= event.date.strftime('%d-%m-%Y') %>
      <td>
        <% event.signups.with_user.where(status: true).each do |s| %>
          <%= s.user.name + ',' %>
        <% end %>..jij?
      </td>
    </tr>
  <% end %>
  </tbody>
</table>