<% content_for :title do %>
    Wijzig activiteit
<% end %>

<%= render 'form' %>

<div class="btn-group">
  <%= link_to 'Laat zien', @event, class: 'btn btn-default' %>
  <%= link_to 'Terug', events_path, class: 'btn btn-default' %>
</div>