<h1>Nieuws aanpassen</h1>

<%= render 'form' %>

<div class="btn-group">
  <%= link_to 'Show', @news, class: 'btn btn-default' %>
  <%= link_to 'Terug', news_index_path, class: 'btn btn-default' %>
</div>
