<% content_for :title do %>
    Nieuws posten
<% end %>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= render 'form' %>

    <%= link_to 'Terug', news_index_path, class: 'btn btn-default' %>
  </div>
</div>