default: &default
  adapter: sqlite3
  pool: 5
  timeout: 5000
  journal_mode: delete  # No WAL mode, performace decrease but able to backup database files safely

development:
  <<: *default
  database: db/development.sqlite3

test:
  <<: *default
  database: db/test.sqlite3

production:
  <<: *default
  database: db/production.sqlite3
