<% require "dotenv"; Dotenv.load(".env") %>

service: hamers-webapp
image: dispuuthamers/webapp

servers:
  web:
    - 130.89.148.88
  cron:
    hosts:
      - 130.89.148.88
    cmd: -c "cd /webapp && bundle exec whenever --update-crontab && env > /etc/environment && cron -f"
    options:
      user: root
      entrypoint: bash

proxy:
  ssl: true
  host: zondersikkel.nl
  app_port: 3000
  response_timeout: 60
  healthcheck:
    path: /
    timeout: 60

registry:
  server: ghcr.io
  username:
    - KAMAL_REGISTRY_USERNAME
  password:
    - KAMAL_REGISTRY_PASSWORD

builder:
  arch: amd64
  args:
    GIT_COMMIT_HASH: <%= `git rev-parse --short HEAD`.strip %>
    GIT_COMMIT_COUNT: <%= `git rev-list --count HEAD`.strip %>

env:
  clear:
    RAILS_ENV: production
    RAILS_LOG_TO_STDOUT: true
    MAINTENANCE_MODE: false
  secret:
    - RAILS_MASTER_KEY

aliases:
  db: app exec --interactive --reuse "rails dbconsole"
  console: app exec --interactive --reuse "rails console"
  logs: app logs --follow
  cron: app logs -r cron --follow
  shell: app exec --interactive --reuse "bash"
  ssh: server exec --interactive "/bin/bash"

retain_containers: 4

volumes:
 - /app/db:/webapp/db
 - /app/log:/webapp/log # includes cron logs
 - /app/storage:/webapp/storage
