.jumper
{
	min-width: 100px;
	width: 20%;
	position: fixed;
	bottom: 0;
	left: 0;
	
	-webkit-transform: rotateX(60deg);
	-webkit-transform-origin: center bottom 0;
	-webkit-animation-name: sideways, bounce;
	-webkit-animation-duration: 4.9s, 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: linear,ease-out;
	
	transform: rotateX(60deg);
	transform-origin: center bottom 0;
	animation-name: sideways, bounce;
	animation-duration: 4.9s, 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear,ease-out;
}

@keyframes sideways
{
from{left: 0%;}
to{left:80%;}
}

@keyframes bounce
{
0%{bottom: 0%;-webkit-transform: rotateX(30deg);transform: rotateX(30deg);}
5%{bottom:0%;-webkit-transform: rotateX(0deg);transform: rotateX(0deg);}
100% {bottom:70%;-webkit-transform: rotateX(0deg);transform: rotateX(0deg);}
}
