.gravatar { width: 70px; height: 72px; }

.gold-gravatar { margin-top: 23px; margin-left: 134px; }
.silver-gravatar { margin-top: 71px; margin-left: 22px; }
.bronze-gravatar { margin-top: 120px; margin-left: 246px; }

.gold-text { margin-top: 290px; margin-left: 22px; }
.silver-text { margin-top: 390px; margin-left: -205px; }
.bronze-text { margin-top: 480px; margin-left: 245px; }
