
/* mixins, variables, etc. */
$grayLight: #999;
$grayMediumLight: #eaeaea;
$gray: #555;
$grayDarker: #222;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
 padding-top: 70px;
}

section {
  overflow: auto;
}

section ul {
  padding-left: 14px;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* quotes */

.quotes {
  list-style: none;
  margin: 10px 0 0 0;
  padding-left: 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

.quote h4 {
  margin-top: 0;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
    padding-bottom: 20px;
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLight;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0;
    }
    .form-group {
      width: 100%;
    }
  }
}

/* forms */

.uneditable-input {
  border: 1px solid #bbb;
  @include box_sizing;
}

.form-input {
  margin-bottom: 5px;
}

input {
  height: auto !important;
}

.date-select {
  display: inline-block;
  width: 33%;
}

.datetime-select {
  display: inline-block;
  width: 19%;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

#user-selector {
  width: 100%;
}

/* other */
.pagination {
  width: 100%;
}

/* tables */
.table > tbody > tr > td {
  vertical-align: middle;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
  background-color: #e6EEEE;
}

table.tablesorter thead tr .header {
  cursor: pointer;
}

table.tablesorter tbody tr.odd td {
  background-color: #F0F0F6;
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
  background-color: #8dbdd8;
}

table.events thead tr th, table.tablesorter tfoot tr th {
  background-color: #e6EEEE;
}

.thumbnail-member {
  text-align: center;
  border: none;
  transition: none;
}
