// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#event-info-panel {
  .signup-list {
    list-style-type: none;
    padding-left: 8px
  }

  .signup-list span {
    display: block;
    padding-left: 8px;
  }

  .input-group {
    width: 100%;
  }
}
