<% flash.each do |key, value| %>
  <% if key == "notice" %>
    <% key = "info" %>
  <% elsif key == "error" || key == "alert" %>
    <% key = "danger" %>
  <% end %>
  <div class="alert alert-<%= key %> text-center" role="alert"><%= value %></div>
<% end %>
