<footer class="footer">
  <small>
    By <a href="http://zondersikkel.nl">Hamers zonder Sikkel</a>
  </small>
  <nav>
    <ul>
      <% unless signed_in? %>
        <li><%= link_to 'Inloggen', signin_path %></li>
        <li><%= link_to "Registreer", new_registration_path(User) %></li>
      <% end %>
    </ul>
  </nav>
</footer>
