<footer class="footer">
  <small>
    By <a href="http://zondersikkel.nl">Hamers zonder Sikkel</a>
  </small>
  <nav>
    <ul>
      <% unless signed_in? %>
        <li><%= link_to 'Inloggen', signin_path %></li>
        <li><%= link_to 'Registreer', invited_path %></li>
      <% end %>
    </ul>
  </nav>
</footer>
