<footer>
  <div class="max-w-7xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8">
    <p class="text-center text-base text-gray-500">
      <a href="<%= root_url %>">Hamers zonder Sikkel</a> <br>
      &copy; <%= Time.current.year %> - version <%= "#{`git rev-list HEAD --count`} (#{`git rev-parse --short HEAD`.chomp})" %>
    </p>
  </div>
  <%= any_login_here if defined?(AnyLogin) %>
</footer>
