<footer class="footer text-center">
  <small>
    <a href="https://zondersikkel.nl/">Hamers zonder Sikkel</a> <br>
    Copyright © <%= Time.current.year %> - version <%= "#{`git rev-list HEAD --count`} (#{`git rev-parse --short HEAD`.chomp})" %>
  </small>
  <% unless signed_in? %>
    <nav>
      <ul>
        <li><%= link_to 'Inloggen', signin_path %></li>
        <li><%= link_to 'Registreren', activate_account_path %></li>
      </ul>
    </nav>
  <% end %>
</footer>
