
<footer class="footer">
  <small>
    by <a href="http://jackozuidema.com/">Jacko Zuidema</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Inloggen", "#" %></li>
      <li><%= link_to "Registreren", signup_path %></li>
    </ul>
  </nav>
</footer>
