
<footer class="footer">
  <small>
    by <a href="http://jackozuidema.com/">Jacko Zuidema</a>
  </small>
  <nav>
    <ul>
      <% if signed_in? %> 
      <% else %>
      <li><%= link_to "inloggen", signin_path %></li> 
      <li><%= link_to "Registreren", register_path %></li>
      <% end %>
    </ul>
  </nav>
</footer>
